/* Recentrage de la card */
.card {
    margin-top: 75px !important;
    margin-bottom: 75px !important;
}

/* Personnalisation du footer */
footer.footer {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
  }

/* Changement du type de la police */
body {
  font-family: 'Roboto Slab', serif !important;
}