/* Personnalisation de l'en-tête */
header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("../images/bg-masthead.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

/* Modification de la taille de l'image */
#play_btn {
    width: 20px !important;
    height: 20px !important;
}

/* Personnalisation de l'image pour qu'elle soit responsive */
.image_design {
  max-width: 100% !important;
}

/* Personnalisation du footer */
footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* Changement du type de la police */
body {
  font-family: 'Roboto Slab', serif !important;
}