/* Personnalisation de l'en-tête */
header.masthead {
    position: relative !important;
    background-color: #343a40 !important;
    background: url("../images/bg-masthead.jpg") no-repeat center center !important;
    background-size: cover !important;
    padding-top: 8rem !important;
    padding-bottom: 8rem !important;
}

/* Personnalisation des images */
.image1 {
  max-width: 100% !important;
  width: 500px !important;
  height: 250px !important;
  margin: 10px !important;
}

.image2 {
  max-width: 100% !important;
  margin: 10px !important;
}

/* Personnalisation du footer */
footer.footer {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

/* Changement du type de la police */
body {
  font-family: 'Roboto Slab', serif !important;
}